body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 3rem 1rem;
}


.collapse-custom {
   margin-right: 4px;
}

.spaced-list {
    list-style-type: disc;  
    padding-left: 20px;  
}

.spaced-list li {
    margin-bottom: 15px;  
}

.navbar {
    border-radius: 15px;
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

.nav-link {
    color: #007bff;
}

.nav-link.active {
    color: #000;
}

.twitter-feed {
    margin-top: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

footer {
    margin-top: 3rem;
}

.member {
    margin-bottom: 1rem;
    display: flex;
    align-items: start;
}

.member img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
    object-fit: cover;
    display: inline-block;
}

.member a {
    display: inline-block;
    vertical-align: middle;
    flex: 1;
}

@media (max-width: 768px) {
    body {
        padding: 1rem;
    }
    .collapse-custom {
        margin-right: 15px;
    }

    .container {
        width: 100%;
    }

    .member img {
        width: 30px;
        height: 30px;
    }

    .twitter-feed {
        margin-top: 1rem;
    }
    
    .navbar {
        margin-bottom: 1rem;
    }
    
    .nav-link {
        font-size: 12px;
    }
}
